/* 今日推荐 */
.about{
    width: 100%;
    height: 213px;
    /* background: #fff; */
    overflow: hidden;
}
.column-left{
    width: 234px;
    height: 173px;
    /* background: red; */
    background: #5f5750;
    float: left;
    margin-top: 20px;
}
.column-left li{
    width: 78px;
    height: 80px;
    float: left;
    text-align: center;
}
.column-left img{
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}
.column-left span{
    font-size: 12px;
    color: #fff;
}
.column-right{
    width: 968px;
    height: 173px;
    float: right;
    margin-top: 20px;
}
.column-right li{
    width: 312px;
    height: 100%;
    float: left;
}
.column-right li img{
    width: 100%;
    height: 100%;
}
.column-right li:nth-child(2){
    margin: 0 15px;
}
/* **********今日推荐************ */
/* 主体 */
.frame{
    width: 100%;
    height: auto;
    background: #f5f5f5;
}
/* *********秒杀模块********* */
.sec-desc{
    width: 100%;
    height: 50px;
    /* background: yellow; */
    
}
/* 秒杀头部 */
.sec-desc .text{
    float: left;
    font-size: 20px;
    color: #615e5e;
    line-height: 50px;
}
.sec-desc .sec-right{
    float: right;
}
.sec-desc .sec-right>i{
   display: block;
   width: 20px;
   height: 20px;
   float: left;
   background: #c9c2c2;
   text-align: center;
   line-height: 20px;
   margin-top: 15px;
   margin-right: 10px;
}
.seckill{
    height: 280px;
}
.seckill .countdown{
    width: 234px;
    height: 280px;
    background: #F1EDED;
    border-top: 1px solid red;
    float: left;
    text-align: center;
}
.seckill .countdown .title1{
    margin-top: 30px;
    width: 100%;
    height: 40px;
    /* background: red; */
    font-size: 24px;
    color: #e41616;
}
.seckill .countdown .img1{   
    padding-top: 16px;
    width: 100%;
    height: 80px;
    /* background: yellow; */
    text-align: center;
}
.seckill .countdown .end{
    width: 100%;
    height: 40px;
    /* background: blue; */
    color: #333;
    line-height: 40px;
}
.seckill .countdown .sec-time{
    width: 100%;
    height: 50px;
}
.seckill .countdown .sec-time .time-box {
    width: 150px;
    height: 100%;
    margin: 10px auto 0;
}
.seckill .countdown .sec-time .time-box>div{
    width: 40px;
    height: 40px;
    background: #605751;
    float: left;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
}
.seckill .countdown .sec-time  .time-box>i{
    width: 15px;
    height: 40px;
    line-height: 40px;
    float: left;
    font-weight: bold;
    color: #333;
    font-size: 20px;

}
.seckill .sec-item{
    width: 992px;
    height: 100%;
    float: right;
}
.sec-item .sec-list{
    width: 234px;
    height: 100%;
    background: #fff;
    float: left;
    margin-left: 14px;  
    text-align: center;
}
.sec-item .sec-list .img2{
    padding-top: 20px;
    width: 100%;
    height: 150px;
    /* background: red; */
}
.sec-item .sec-list .title2{
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}
.sec-item .sec-list .msg{
   margin-top: 5px;
   color: #b0b0b0;
   font-size: 12px;
}
.sec-item .sec-list .price{
    color: #ff6700;
    font-size: 14px;
    margin-top: 10px;
}
.sec-item .sec-list .price>span:nth-child(2){
    margin-left: 4px;
    color: #B0B0B0;
    text-decoration: line-through;
}
.sec-item .sec-list:nth-child(1){
    border-top: 1px solid orange;
}
.sec-item .sec-list:nth-child(2){
    border-top: 1px solid deepskyblue;
}
.sec-item .sec-list:nth-child(3){
    border-top: 1px solid greenyellow;
}
.sec-item .sec-list:nth-child(4){
     border-top: 1px solid #ff0022;
}
/* ***********秒杀模块**** */
.slideshow{
    width: 100%;
    height: 120px;
    background: yellow;
    margin-top: 20px;
}
.slideshow>img{
    width: 100%;
    height: 100%;
}
/* ****手机**** */
.phone-max{
    width: 100%;
    height: 686px;
    margin-top: 20px;
}
.phone-hd{
    width: 100%;
    height: 58px;
    position: relative;
}
.phone-title{
    line-height: 58px;
    font-size: 22px;
    color: #333;
}
.phone-more{
    line-height: 58px;
    position: absolute;
    top: 0;
    right: 0;
}
.phone-first{
    height: 628px;
    width: 234px;
    padding-top: 7px;
    float: left;
    transition: all .2s linear; 
}
.phone-pic{
    width: 234px;
    height: 300px;
    background: #fff;
    float: left;
    margin-left: 14px;
    margin-top: 7px  ;
    margin-bottom: 7px;
    text-align: center;
    transition: all .2s linear; 
    position: relative;
}
.phone-img{
    margin-top: 25px;
}
.phone-text{
    margin-top: 25px;
    font-size: 14px;
    color: #333;
}
.phone-msg{
    margin-top: 5px;
    font-size: 12px;
    color: #B0B0B0;
}
.phone-price{
    margin-top: 10px;
    font-size: 14px;
    color: #ff6700;
}
.addCart{
    width: 100px;
    height: 35px;
    background: #ff6700;
    position: absolute;
    bottom: 10px;
    left: 50%;
    line-height: 35px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-left: -50px;
    
}
.phone-first>img:hover,.phone-pic:hover{
	top: -3px;
	position: relative;
	box-shadow: 0 0 10px #c7c5c5;
	/*-webkit-transition: all .2s linear; /*解决兼容性
    transition: all .2s linear; */
}

/* 家电 */
.home-max{
    width: 100%;
    height: 686px;
    margin-top: 20px;
}
.home-hd{
    width: 100%;
    height: 58px;
    position: relative;
}
.home-title{
    line-height: 58px;
    font-size: 22px;
    color: #333;
}
.home-more{
    line-height: 58px;
    position: absolute;
    top: 0;
    right: 0;
}
.home-first{
    height: 628px;
    width: 234px;
    padding-top: 7px;
    /* padding-bottom: 7px; */
    float: left;
    transition: all .2s linear; 
}
.home-top{
    width: 100%;
    height: 300px;
    background: yellow;
}
.home-top>img,.home-bt>img{
    width: 100%;
    height: 100%;
}
.home-bt{
    width: 100%;
    height:300px;
    background: yellow;
    margin-top: 14px;
}
.home-pic{
    width: 234px;
    height: 300px;
    background: #fff;
    /* background: red; */
    float: left;
    margin-left: 14px;
    margin-top: 7px  ;
    margin-bottom: 7px;
    text-align: center;
    transition: all .2s linear; 
}

.home-img{
    height: 160px;
    width: 160px;
    background: yellow;
    margin: 0 auto;
}
.home-img>img{
    width: 100%;
    height: 100%;
}
.home-text{
    margin-top: 25px;
    font-size: 14px;
    color: #333;
}
.home-msg{
    margin-top: 5px;
    font-size: 12px;
    color: #B0B0B0;
}
.home-price{
    margin-top: 10px;
    font-size: 14px;
    color: #ff6700;
}
.home-bt:hover,.home-top:hover,.home-pic:hover{
	top: -3px;
	position: relative;
	box-shadow: 0 0 10px #c7c5c5;
	/*-webkit-transition: all .2s linear; /*解决兼容性
    transition: all .2s linear; */
}
/* 回到顶部 */
.goBack{
    width: 60px;
    height: 60px;
    background: #ccc;
    position: fixed;
    bottom: 70px;
    /* right: 20px; */
    right: 10px;
    text-align: center;
    color: #333;
    cursor: pointer;
    display: none;
}
.goBack>i{
    display: block;
    font-size: 20px;
    margin-top: 8px;
}
.goBack:hover{
    
    background: #ff6700;
    color: #fff;
}